.home {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.con {
  max-width: 1186px;
  width: 1126px;
  padding: 10px 10px;
}
.search {
  margin-top: 10px;
  margin-left: 60px;
  color: var(--light);
}
.search img {
  position: absolute;
  top: 32px;
}

.input {
  background: var(--dark);
  border: none;
  color: var(--light);
  padding-left: 40px;
  font-size: 15px;
}
.main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: -10px;
}

.pic img {
  width: 686px;
  height: 382px;
}
.pic img:hover {
  transform: scale3d(1.1, 1.1, 1);
  transition: 0.3s;
  filter: brightness(80%);
  transition: transform 0.5s;
}
.topchart {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
  margin-top: -10px;
}
.topchart h1 {
  color: var(--light);
  text-decoration: none;
  margin: 10px;
}
.sinfo {
  display: flex;
  flex-direction: row;
}
.music {
  background-color: #141515;
  width: 417px;
  display: flex;
  padding-block: 80px;
  margin-block: 5px;
  height: 66px;
  border-radius: 20px;
  padding: 10px 10px;
}
.music:hover {
  background-color: rgba(248, 29, 0, 0.496);
  color: var(--white);
  transform: scale3d(1.1, 1.1, 1);
  transition: 0.5s;
}
.album {
  width: 63px;
  height: 63px;
}
.album img {
  width: 63px;
  height: 100%;
}
.words {
  margin-left: 15px;

  color: var(--light);
}
.words h3 {
  margin: 0;
}
.words p {
  margin: 0;
  font-size: 15px;
  margin-block: 5px;
}
.like {
  border-radius: 50%;
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  height: 30px;
  width: 30px;
  border: 1px solid var(--light);
}
.new {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.single {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.single:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}
.txt-container p {
  margin: 0;
  color: var(--light);
  margin-top: 4px;
}
.img-container img {
  width: 120px;
  height: 103px;
}
.c {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 40px;
  margin-top: -40px;
}
.c h4 {
  color: var(--light);
  margin: 6px 0;
  font-size: 30px;
}
.hee {
  color: white;
}
.hot {
  color: var(--secondary);
}
.ch:hover {
  transform: scale(1);
}
@media only screen and (max-width: 570px) {
  .con {
    max-width: 570px;
    width: 100%;
    padding: 10px 10px;
  }
  .search {
    margin-left: 340px;
    margin-top: 3px;
    width: 10%;
  }
  .input {
    height: 20px;
  }
  .input::placeholder {
    color: transparent;
  }
  .search img {
    width: 30px;
    position: absolute;
    top: 20px;
    left: 500px;
  }
  .main {
    flex-direction: column;
  }
  .pic {
    width: 100%;
  }
  .pic img {
    width: 100%;
    height: 100%;
  }
  .album-container {
    display: flex;
    flex-direction: row;
    margin-block: 30px;

    overflow: scroll;
  }
  .music {
    width: 323px;
    height: 233px;
    margin-right: 40px;
  }
  .sinfo {
    flex-direction: column;
  }
  .album img {
    width: 108px;
    height: 99px;
  }
  .words {
    margin-top: 60px;
  }
  .c h4 {
    margin-block: 20px;
  }
}
