:root {
  --light: #efeee0;
  --dark: #1d2123;
  --secondary: #facd66;
  --primary: #a4c7c6;
  --dark-alt: #1a1e1f;
  --alt: #a4c7c6;
  background-color: #1d2123;
}

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}
