.nav-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100%;
}
.menu {
  display: none;
}
.logo {
  margin-bottom: 30px;
  margin-right: 250px;
  /* margin-left: 10px; */
}
.logo-container {
  display: flex;
}

ul {
  width: fit-content;
  width: 10px;
  height: 250px;

  list-style-type: none;
  color: gray;
  border-radius: 20px;
}
ul li {
  margin-left: -28px;
  margin-block: 25px;
}
ul li img:hover {
  color: var(--primary);
  transform: scale(1.5);
  transition: 0.5s;
}
ul li img {
  width: 25px;
}
.p {
  color: gray;
}
i {
  font-size: 18px;
}
i:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
.icon {
  fill: yellow;
}
.i {
  margin-left: -5px;
  width: 35px;
  filter: brightness(50%);
}
.ul {
  height: 110px;
  width: 10px;
}
.ul li {
  margin-left: -24px;
  margin-right: 12px;
  margin-block: 25px;
}
@media only screen and (max-width: 570px) {
  .nav-container {
    max-width: 570px;
    width: 100%;
  }
  .menu {
    display: block;
    margin-right: 10px;
  }
  .logo {
    margin-bottom: 30px;
  }
  .logo-container {
    display: flex;
    margin-right: auto;
  }
  .main-menu {
    margin-left: -10px;
    width: 300px;

    background-color: var(--dark);
  }
  /* .none {
    transform: translateX(-100%);
    transition: width 5s;
    display: none;
  } */
  .ul {
    margin-top: 70px;
  }
  ul li {
    display: flex;
    align-items: center;
  }
  ul li .menu {
    margin-left: 10px;
  }
}
