.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-left: 10px;
  margin-right: 20px;
}
.logo {
  margin-bottom: 30px;
}
ul {
  background-color: #141515;
  width: fit-content;
  width: 10px;
  height: 250px;

  list-style-type: none;
  color: gray;
  border-radius: 20px;
}
ul li {
  margin-left: -28px;
  margin-block: 25px;
}
ul li img:hover {
  color: var(--primary);
  transform: scale(1.5);
  transition: 0.5s;
}
ul li img {
  width: 25px;
}
.p {
  color: gray;
}
i {
  font-size: 18px;
}
i:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
.icon {
  fill: yellow;
}
.i {
  margin-left: -5px;
  width: 35px;
  filter: brightness(50%);
}
.ul {
  height: 110px;
  width: 10px;
}
.ul li {
  margin-left: -24px;
  margin-right: 12px;
  margin-block: 25px;
}
